
<template>

<div class="container-fluid">
<div class="row">

  <!-- Left -->
  <div class="col-sm-3">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-success">Home</a>
      <a href="#" class="list-group-item list-group-item-info">Info</a>
      <a href="#" class="list-group-item list-group-item-warning">Videos</a>
      <a href="#" class="list-group-item list-group-item-danger">Logout</a>
    </div>
  </div>

  <!-- Right -->
  <div class="col-sm-9">

   

  </div>
    
</div>
</div>

</template>

<script>
  import Videos from './Manager/Videos.vue'
  import Info from './Manager/Info.vue'

  export default {
    data() {
      return {
        classification: {
          list: [
            {
              name: 'Type',
              current: 'All',
              list: ['All', 'type1', 'type2', 'type3'], 
            },
            {
              name: 'Length',
              current: 'All',
              list: ['All', '5', '10', '20'],  
            },
            {
              name: 'Tags',
              current: 'All',
              list: ['All', 'tag1', 'tag2', 'tag3'],
            },
            { 
              name: 'Sort',
              current: 'name',
              list: ['name', 'time'],
            },
          ],

          color_active: 'label-success',
          color_notactive: 'label-default',
        },

        videos: [
          {
            img: 'http://i2.piimg.com/5ae8f97fc15c24fd.jpg',
            name: 'hehe',
            time: '2012-10-12',
            selected: false,
          },
          {
            img: 'http://i2.piimg.com/5ae8f97fc15c24fd.jpg',
            name: 'hehe',
            time: '2012-10-12',
            selected: false,
          },
          {
            img: 'http://i2.piimg.com/5ae8f97fc15c24fd.jpg',
            name: 'hehe',
            time: '2012-10-12',
            selected: true,
          },
          {
            img: 'http://i2.piimg.com/5ae8f97fc15c24fd.jpg',
            name: 'hehe',
            time: '2012-10-12',
            selected: false,
          },
        ]
      }
    },
    methods: {
      change_classify: function(line, item){
        line.current = item;
      },

      select_video: function(item){
        item.selected = !item.selected;
      }
    }
  }
</script>

<style type="text/css">
  .cms-classification{
    margin-top: 15px;
    
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: lightgrey;
  }

  .cms-item {
    padding: 5px;
    border-radius: 5px
  }
  .cms-item-img {
    width: 100%;
  }
  .cms-item-selected {
    font-weight: bold;
    background-color: #A6D8A6;

  }

  .tags-blank {
    margin-right: 2px;
  }
</style>